meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width,initial-scale=1")


meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
meta(name="keywords", content=pkg.keywords.join(','))
meta(name="description", content=pkg.description)

title= title

link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
// include CSS Files
link(rel='stylesheet', href='/css/foundation.css')
link(rel='stylesheet', href='/css/app.css')

|<!--[if lt IE 9]>
|  <link rel="stylesheet" href="stylesheets/ie.css">
|  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
|<![endif]-->

script(src="js/vendor/custom.modernizr.js")